<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Hotel Details</h1>
    <p>Name: <%= hotel.hotelName %></p>
    <p>stars: <%= hotel.stars %></p>
    <p>City: <%= hotel.city %></p>
    <a href="/hotels">Go back to hotels</a>
    
    <form action="/hotels/delete/<%= hotel._id %>" method="post">
        <button>Go to page I decide</button>
    </form>

</body>
</html>